
.cardAcc img{
width: 340px;
height: 340px;
object-fit: cover;
border-radius: 10px;
}

.itemAcceuilA{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
  }
}

.cardAcc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Ac{
    color: #fff;
    background-color: black;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 24px;
}
.TITLECARDACD:hover{
  background-color: rgb(217, 214, 214);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   
  
}

@media only screen and (max-width: 600px) {

  .cardAcc img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    }
    
    .itemAcceuilA{
      background-color: white;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      button{
        padding: 12px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
      }
    }
    
    .cardAcc{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    #Ac{
        color: #fff;
        background-color: black;
        padding: 10px;
        text-align: center;
        margin: 10px;
        font-size: 24px;
    }
    


}