
 

.CardCasquuete1 {
  border: 3px solid transparent;
  padding: 4px;
  margin: 10px;
  width: 20%;
  height: auto;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  font-family: sans-serif;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;

  
 


.imgCardQas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgCardQas img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* .imgCardQas img:hover {
  transform: scale(1.1);
} */

.TitleImgCarde {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.PrixTitle {
  font-size: 22px;
  color: var(--index-color);
  margin-top: 8px;
}

button {
  padding: 15px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background: linear-gradient(135deg, #f85109, #ff6209);
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.5s ease;
  width: 200px;
  margin-top: 15px;
}

button:hover {
  background: linear-gradient(135deg, #ff6209, #f85109);
  box-shadow: 0 7px 29px rgba(93, 24, 220, 0.4);
  letter-spacing: 2px;
}

button:active {
  transform: translateY(5px);
  transition: transform 100ms;
 
}


}
.CardCasquuete1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1050px) {
  .CardCasquuete1 {
    border: 3px solid transparent;
    padding: 4px;
    margin: 10px;
    width: 30%;
    height: auto;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-family: sans-serif;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
  
    
  }  
}
@media screen and (max-width: 600px) {
  .CardCasquuete1 {
    width: 100%;
    margin-top: 10px;
    height: auto;
  }

  .CardCasquuete1:hover {
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  

  .imgCardQas img {
    width: 100%;
  }

  /* button {
    width: 90%;
    font-size: 16px;
    padding: 15px;
  } */
}

:root {
  --index-color: #ff5722;
}
