.FastView{
 width: 100%;
 height: 100vh;
 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  button{
    border-radius: 10px;
    background-color: orange;
  }
  button:hover{
    cursor: pointer;
    background-color: grey;
  }

.FastViewInside{
    width: 50%;
    height: 76%;
    background-color: rgb(246, 244, 244);
    box-shadow: 2px 2px 3px rgb(246, 244, 244);
    display: flex;
    flex-direction:column;
    .FastViewInsideImg{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    img{  
        width: 70%;
        height: 90%;
        object-fit: cover;
    }
}
.FastViewInsideShoppin{
     display: flex;
     justify-content: center;
     

    button{
        width: 40%;
        border: none;
        padding:13px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}


}
.FastViewInsideTitle{
     
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}




@media only screen and (max-width: 600px) {
   

    .FastView{
        width: 100%;
        height: 100vh;
        background-color: rgb(164, 159, 159);
         display: flex;
         align-items: center;
         justify-content: center;
         
       
       .FastViewInside{
           width: 100%;
           height: 100%;
           background-color: white;
           box-shadow: 2px 2px 3px white;
           display: flex;
           flex-direction:column;
           .FastViewInsideImg{
               width: 100%;
               height: 40%;
               display: flex;
               justify-content: center;
               align-items: center;
       
           }
           img{  
               width: 70%;
               height: 90%;
               object-fit: cover;
           }
       }
       .FastViewInsideShoppin{
            display: flex;
            justify-content: center;
            
       
           button{
               width: 70%;
               border: none;
               padding:13px;
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;
               gap: 50px;
               font-size:20px;
               font-family:Verdana, Geneva, Tahoma, sans-serif;
               border-radius: 10px;
           }
           button:hover{
            background-color: rgb(150, 147, 147);
           }
       }
       
       
       }
       .FastViewInsideTitle{
            
           width: 100%;
           height: auto;
           display: flex;
           flex-direction: column;
           gap: 30px;
           text-align: center;
       }
       

       

  }
