* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__nav__bar {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 11%, rgba(15,1,1,1) 99%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    
}

.nav__logo {
     display: flex;
     width: 600px;
     flex-direction: column;
 
     
}

.nav__logo ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 10px;
    
}

li {
    cursor: pointer;
    list-style: none;
}

.panier__logo img {
    width: 34px;
    cursor: pointer;
}

.sectionPayment {
    /* background-color: rgb(192, 188, 188); */
    width: 100%;
    height: 100vh;
}

.ContainerSectionPayment {
    
    width: 100%;
}

.hrItem {
    display: none;
}

.xbutton {
    display: none;
}

 


@media only screen and (max-width: 600px) {
    .hrItem {
        display: block;
    }
    .xbutton {
        display: block;
        font-size: 30px;
    }
    .changePostion {
        position: absolute;
        right: 0;
        margin-right: 15px;
    }

    .container__nav__bar {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        padding: 2px;
        flex-direction: column;
    }

    .nav__logo {
        display: none; /* Hide menu by default */
    }

    .nav__logo.open {
        display: flex; /* Show menu when open */
        flex-direction: column;
        gap: 10px;
    }

    .nav__logo ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1px;
    }

    .panier__logo img {
        max-width: 36px;
    }

    ul {
        background-color: black;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
