.sectionPayment{
    img{
       width: 100px;
       height: 100px;
       object-fit: contain;
    }
}
 
.dataOFpaymeny{
 display: flex;
 flex-direction: row;
 
}

.ProudctPAY{

    display: flex;
    flex-direction: column;
    
    width: 400px;
    text-align: center;
    margin: 10px;
    gap: 20px;
    button{
        padding: 10px;
    }

}

.btnRemove{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    button{
        width: 130px;
        cursor: pointer;
        border: none;
        font-size: large;
        font-weight: bold;
        border-radius: 4px;
    };
    
}
 .btnRemove button:hover{
    background-color: rgb(218, 211, 211);
 }
 

 .RemoveSection{
  
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size:29px;
    cursor: pointer;
 }

 .titleCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 23px; 
}

.dataofPaymentImg img{
    width: 140px;
    object-fit: contain;
    height: 100%;
}



.buttoPaymebnt{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
     
}


.dataOFpaymeny{
    width: 55%;
    height: auto;
    border: 3px solid rgb(125, 125, 126);
}
 

.PayCounter{
    background-color: red;
 
    border-radius: 10px;
    position: relative;
    left: 36px;
    bottom: 20px;
    padding: 4px;
    
}
.titleWelcome{
    font-size: 30px;
    font-weight: bold;
}

.RemoveSection{
    color: white;
}
@media only screen and (max-width: 600px) {
    .dataOFpaymeny{
        width: 100%;
        height: auto;
        border: 3px solid blueviolet;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
        }
    }
    .nav__logo{
        background-color: red;
        width: 400px;
    }
    
    .PayCounter{
        background-color: red;
     
        border-radius: 10px;
        position: relative;
        left: 36px;
        bottom: 20px;
        padding: 4px;
        
    }
    .x{
           display: flex;
           justify-content: center;
            
    }
     
    
  .dataofPaymentImg {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dataofPaymentImg img{
    width: 100%;
  }

  }

  